@font-face {
    font-family: 'CursedTimer';
    src: url(./CursedTimerUlil-Aznm.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2em;
}

.container {
    border: 2px solid black;
    border-radius: 10px; 
    background-color: #0377b1;
    margin: 0 auto;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 40px;
    color: white;
    width: 500px;

}

.scores {
    display: flex;
    justify-content: center;
    gap: 2em; 
    align-items: center;
}

/* =========== HOME AND GUEST CSS SETTINGS =============== */

#home-score, #guest-score {
    background-color: black;
    width: 120px;
    font-size: 90px;
    margin: 20px;
    padding: 5px;
    color: red;
    font-family: 'CursedTimer';
}

/* ================  BUTTONS CSS SETTINGS =============== */

.newgame button {
    margin-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer; 
}

button {
    background-color: white;
    border: 1px solid black;
    font-family: 'CursedTimer';
    padding: 5px;
    cursor: pointer;
}